<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Professor</title>
  </head>

  <body>
    <h1>Lista de Professor</h1>
    <form
      id="add-form"
      action="{{ url_for('professor.adicionar_professor_page') }}"
      method="GET"
    >
      <button type="submit">Adicionar Professor</button>
    </form>
    <a href="{{ url_for('professor.getIndex') }}">Voltar para a Home</a>
    <ul>
      {% for professor in professor %}
      <li>
        <a
          href="{{ url_for('professor.get_professor', id_professor=professor.id) }}"
          >(ID: {{ professor.id }})</a
        ><br />
        Nome: {{ professor.nome }}<br />
        Idade: {{ professor.idade }}<br />
        Matéria: {{ professor.materia }}<br />
        Observações: {{ professor.observacoes }}<br />
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
